@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>

    <body id="@ViewBag.BodyId" class="@ViewBag.BodyClass">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <aside class="main-menu" >
                        <img src="@Url.Content("~/Content/images/crushme-logo.png")" alt="Crush Me"/>
                        
                        @if (Request.IsAuthenticated)
                        {
                            <a href="/dashboard" >Meus crushes</a>
                            <a href="javascript:void();" class="crush-new-modal">Envie um crush!</a>
                            <a href="/preferences" id="preferences-btn">Preferências</a>
                            <a href="javascript:sendRequestViaMultiFriendSelector()">Chame seus amigos!</a>
                            
                        } else {
                            <a id="fb-login" href="https://apps.facebook.com/crushmeapp/">Login</a>
                        }
                        <a href="/como-funciona">Como funciona</a>                        
                        <a href="/sobre">Sobre</a>
                    </aside>
                </div>
                <section id="main" class="span9">
                    @RenderBody()                
                </section>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)

        @if (Request.IsAuthenticated)
        {
            <div id="crush-new" class="modal fade crush-modal" tabindex="-1" role="dialog" style="display: none;" >
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Envie um crush!</h3>
              </div>
              <div class="modal-body">
                <input type="text" class="candidate-autocomplete" style="width: 500px;" placeholder="escolha um de seus amigos e ou procure entre todos os usuários do Crush Me!" />

                <div class="candidate-list" style="overflow: scroll; height: 360px; overflow-x: hidden;"></div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-close" data-dismiss="modal" aria-hidden="true">Fechar</button>
                <span class="candidate-chosen"></span>
                <button class="btn btn-primary">Enviar crush!</button>
              </div>
            </div>          
            
            <script id="candidate-item-template" type="text/x-handlebars-template">
                <div class="candidate" data-target-id="{{FbId}}">
                    <img src="http://graph.facebook.com/{{FbId}}/picture?type=normal" alt="{{Name}}" class="candidate-picture"/>
                    <span class="candidate-name">{{Name}}</span>
                </div>
           </script>
            
            <script>
                $(function () {
                    var newCrushDialog = $("#crush-new"),
                        autocomplete = newCrushDialog.find(".candidate-autocomplete"),
                        candidateList = newCrushDialog.find(".candidate-list"),
                        loader = $('<div class="ajax-loader"></div>').insertBefore(candidateList).hide(),
                        candidateTemplate = Handlebars.compile(document.getElementById("candidate-item-template").innerHTML),
                        showGenderModal = @ViewBag.ShowGenderModal,
                        selectedCandidateId = null,
                        page = 0,
                        lastRequest = null;

                    

                    newCrushDialog.modal({ show: false });
                    autocomplete.data("lastval", "");

                    newCrushDialog.on("click", ".btn-primary", function () {
                        if (selectedCandidateId) {
                            $.ajax({
                                url: "/crush/new",
                                type: "POST",
                                data: {
                                    targetId: selectedCandidateId
                                }
                            }).done(function (data) {
                                newCrushDialog.modal("hide");
                                window.refreshCrushes();
                            });
                        } else {
                            $(this).popover({
                                placement: "top",
                                title: "Ops!",
                                content: "Escolha alguém da lista acima!"
                            });
                        }
                    });

                    var fetchCandidate = function (query) {
                        candidateList.empty();
                        newCrushDialog.find(".candidate-chosen").empty();
                        newCrushDialog.modal("show");

                        loader.show();
                        if (lastRequest) {
                            lastRequest.abort();
                        }
                        lastRequest = $.ajax({
                            url: "/candidates",
                            dataType: "json",
                            data: { query: query }
                        }).done(function (data) {
                            var markUp = '',
                                markUpPag = '',
                                count = data.Candidates.length;
                            for (var i = 0; i < count; i++) {
                                markUp += candidateTemplate(data.Candidates[i]);
                            }

                            candidateList.append(markUp).show();

                            loader.fadeOut();
                        }).always(function () {

                        });
                    };

                    autocomplete.on("keyup", function () {
                        var v = $.trim(autocomplete.val());

                        if (v != autocomplete.data("lastval") && v.length > 2) {
                            fetchCandidate(v);
                            autocomplete.data("lastval", v);
                        }
                    });


                    candidateList.on("click", ".candidate", function () {
                        var self = $(this);
                        
                        newCrushDialog.find(".candidate-chosen").text("Você escolheu " + self.find(".candidate-name").text() + "!");
                        selectedCandidateId = self.data("targetId");
                    });

                    $(document).on("click", ".crush-new-modal", function () {
                        autocomplete.val("");
                        fetchCandidate();                        
                    });

                    var preferenceButton = $("#preferences-btn").on("click",function(ev) {
                        $("#preferences-dialog").remove();
                        ev.preventDefault();
                        $.ajax({
                            url: "/preferences",
                            type: "GET",
                            dataType: "HTML"
                        }).done(function (modal) {
                            var modal = $(modal).appendTo(document.body).modal();
                            modal.on("click",".btn-primary",function() {
                                var self = $(this),
                                    val = $("#gender-preference").val();

                                if ( val.length > 0 ) {
                                    $.ajax({
                                        url: "/preferences",
                                        type: "POST",
                                        dataType: "json",
                                        data : {
                                            "GenderPreference" :  val
                                        }
                                    }).done(function(data) {
                                        if ( data.success === true ) {
                                            modal.modal("hide").remove();
                                        }
                                    });
                                } else {
                                    modal.find(".preference-message").text("Escolha uma das opções acima!");
                                    setTimeout(function() {
                                        modal.find(".preference-message").text("");
                                    }, 2000);
                                }
                            });
                        });
                    });

                    if ( showGenderModal === true ) {
                        preferenceButton.trigger("click");
                    }
                });
            </script>
        }
        <div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '@System.Configuration.ConfigurationManager.AppSettings["Facebook_AppId"]', // App ID
            channelUrl: '//dojorumble.apphb.com/channel.html', // Channel File
            status: true, // check login status
            cookie: true, // enable cookies to allow the server to access the session
            xfbml: true,  // parse XFBML,
            frictionlessRequests: true
        });

        FB.Canvas.setDoneLoading();

        window.sendRequestViaMultiFriendSelector = function() {
            FB.ui({
                method: 'apprequests',
                message: 'Venha para o CrushMe!'
            }, requestCallback);
        }

        function requestCallback(response) {
           
        }

        @if (!Request.IsAuthenticated) {

        <text>
            $("#fb-login").on("click", function(ev) {
                ev.preventDefault();
                FB.login(function(response) {});
            });

            FB.Event.subscribe("auth.authResponseChange", function(response) {
                if ( response.authResponse ) {
                    window.location.href = "/login?accessToken=" + response.authResponse.accessToken;
                }
            });
        </text>
        }

        // Additional initialization code here
    };

    // Load the SDK Asynchronously
    (function (d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/pt_BR/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
</script>
    </body>
</html>