@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>

    <body id="@ViewBag.BodyId" class="@ViewBag.BodyClass">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <aside class="main-menu" >
                        <img src="@Url.Content("~/Content/images/crushme-logo.png")" alt="Crush Me"/>
                        
                        @if (Request.IsAuthenticated)
                        {
                            <a href="javascript:void();" class="crush-new-modal">Envie um crush!</a>
                        }
                        <a href="javascript:void();">Como funciona</a>
                        <a href="javascript:void();">CrushMe Party!</a>
                    </aside>
                </div>
                <section id="main" class="span9">
                    @RenderBody()                
                </section>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)

        @if (Request.IsAuthenticated)
        {
            <div id="crush-new" class="modal fade" tabindex="-1" role="dialog" >
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Envie um crush!</h3>
              </div>
              <div class="modal-body">
                <input type="text" class="candidate-autocomplete" style="width: 90%;" placeholder="escolha um de seus amigos e ou procure entre todos os usuários do CrushMe!" />

                <div class="candidate-list"></div>
              </div>
              <div class="modal-footer">
                <span class="candidate-chosen"></span>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
                <button class="btn btn-primary">Enviar crush!</button>
              </div>
            </div>
            
            <script id="candidate-item-template" type="text/x-handlebars-template">
                <div class="candidate" data-target-id="{{FbId}}">
                    <img src="http://graph.facebook.com/{{FbId}}/picture?type=normal" alt="{{Name}}" class="candidate-picture"/>
                    <span class="candidate-name">{{Name}}</span>
                </div>
           </script>
            <script>
                $(function () {
                    var newCrushDialog = $("#crush-new"),
                        autocomplete = newCrushDialog.find(".candidate-autocomplete"),
                        candidateList = newCrushDialog.find(".candidate-list"),
                        loader = $('<div class="ajax-loader"></div>').insertBefore(candidateList).hide(),
                        candidateTemplate = Handlebars.compile(document.getElementById("candidate-item-template").innerHTML),
                        selectedCandidateId = null,
                        page = 0,
                        lastRequest = null;

                    newCrushDialog.modal({ show: false });
                    autocomplete.data("lastval", "");

                    newCrushDialog.on("click", ".btn-primary", function () {
                        if (selectedCandidateId) {
                            $.ajax({
                                url: "/crush/new",
                                type: "POST",
                                data: {
                                    targetId: selectedCandidateId
                                }
                            }).done(function (data) {
                                newCrushDialog.modal("hide");
                            });
                        } else {
                            $(this).popover({
                                placement: "top",
                                title: "Ops!",
                                content: "Escolha alguém da lista acima!"
                            });
                        }
                    });

                    var fetchCandidate = function (query) {
                        candidateList.empty();                        
                        newCrushDialog.modal("show");

                        loader.show();
                        if (lastRequest) {
                            lastRequest.abort();
                        }
                        lastRequest = $.ajax({
                            url: "/candidates",
                            dataType: "json",
                            data: { query: query }
                        }).done(function (data) {
                            var markUp = '',
                                markUpPag = '',
                                count = data.Candidates.length;
                            for (var i = 0; i < count; i++) {
                                markUp += candidateTemplate(data.Candidates[i]);
                            }

                            candidateList.append(markUp).show();

                            loader.fadeOut();
                        }).always(function () {

                        });
                    };

                    autocomplete.on("keyup", function () {
                        var v = $.trim(autocomplete.val());

                        if (v != autocomplete.data("lastval") && v.length > 2) {
                            fetchCandidate(v);
                            autocomplete.data("lastval", v);
                        }
                    });


                    candidateList.on("click", ".candidate", function () {
                        var self = $(this);
                        
                        newCrushDialog.find(".candidate-chosen").text("Você escolheu " + self.find(".candidate-name").text() + "!");
                        selectedCandidateId = self.data("targetId");
                    });

                    $(document).on("click", ".crush-new-modal", function () {
                        autocomplete.val("");
                        fetchCandidate();
                        
                    });
                });
            </script>
        }
    </body>
</html>